@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 125px;
}

.head-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 18px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 80px 125px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.button {
    background-color: #3882f6;
    align-self: flex-start;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 6px 22px
}

.rome {
    width: 650px;
    padding-left: 10px;
}

.hero-text1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text2 {
    color: #e5e7eb;
    font-size: 18px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 50px 125px 75px 125px;
}

.info-graphic {
    max-width: 200px;
}

.photo {
    width: 200px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 125px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    width: 800px;
}

.speaker-text {
    width: 800px;
    display: flex;
    justify-content: flex-end;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    margin: 80px 0;
    padding: 50px 0;
    border-radius: 10px;
    color: #f9faf8;
}

.text-one {
    font-weight: bold;
    font-size: 18px;
}

.other-button {
    border: solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 6px 22px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 28px 0;
}